<!DOCTYPE html>
<html lang="en">

<head>
    <title>{{ title }}</title>

    <meta charset="utf-8">
    <meta name="description" content="Jaye Hackett is a senior designer and civic technologist based in London">
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
    <meta name="theme-color" content="#0b0c0c">

    <link rel="shortcut icon" href="/assets/favicon.png" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,600;0,900;1,400&display=swap"
        rel="stylesheet">
    <link href="/style.css" rel="stylesheet">
</head>

<body>
    <a class="skip-link" href="#main-content">Skip to main content</a>

    <header role="banner">
    </header>

    <main role="main">
        {{ content | safe }}
    </main>

    <footer role="contentinfo">
    </footer>

    <script src="/index.js"></script>

    <script>if (!sessionStorage.getItem("_swa") && document.referrer.indexOf(location.protocol + "//" + location.host) !== 0) { fetch("https://counter.dev/track?" + new URLSearchParams({ referrer: document.referrer, screen: screen.width + "x" + screen.height, user: "jaye.hackett@gmail.com", utcoffset: "1" })) }; sessionStorage.setItem("_swa", "1");</script>
</body>

</html>